/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('images/bg.jpg') center/cover no-repeat;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

/* Header Styles */
.site-header {
    background-color: #147efb;
    color: #fff;
    padding: 20px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.signup-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-form h2 {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
    color: #333;
}

form {
    text-align: center;
}

form label,
form input {
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 5px;
}

form button {
    background-color: #147efb;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    display: inline-block;
}

form button:hover {
    background-color: #0c63db;
}

/* Footer Styles */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
