body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  h1, h2 {
    color: #333;
  }
  
  input {
    padding: 8px;
    margin-right: 10px;
  }
  
  button {
    padding: 8px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  

 
  #transactionList {
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the table horizontally */
    border-collapse: collapse; /* Collapse borders to prevent spacing between cells */
  }
  
  #transactionList th, #transactionList td {
    border: 1px solid #ddd; /* Add borders to table headers and cells */
    padding: 8px; /* Add padding for better spacing */
    text-align: left; /* Align text to the left within cells */
  }
  
  #transactionList th {
    background-color: #f2f2f2; /* Add a light background color to table headers */
  }
    